<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
    <link rel="icon" type="image/png" href="../src/images/blog_logo.png">
    <link href="../src/styles/global.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&family=Sora:wght@400;500&display=swap"
        rel="stylesheet">
</head>

<body class="bg-bg_signup">
    <section class="bg-bg_signup h-max flex items-center justify-center py-5">
        <main class="w-11/12 flex flex-col gap-20 font-sora">
            <span class="flex justify-between">
                <h1 class="text-4xl font-playpen">Create a Blog</h1>
                <a href="/dashboard" class="w-fit px-5 py-2 bg-my_blue text-white rounded-lg">Back</a>
            </span>
            <form class="flex flex-col gap-10" action="/dashboard/create" method="POST" >
                <span class="flex flex-col gap-4">
                    <label>Title</label>
                    <input type="text" placeholder="Enter the Title of your blog!" class="bg-transparent border border-my_blue px-5 py-3 rounded-lg" name="title"
                    required/>
                </span>

                <span class="flex flex-col gap-4">
                    <label>Description</label>
                    <input type="text" placeholder="Enter the Description of your blog!"
                        class="bg-transparent border border-my_blue px-5 py-3 rounded-lg" 
                        name="description"
                        required/>
                </span>

                <span class="flex flex-col gap-4">
                    <label>Body</label>
                    <textarea rows="7" placeholder="Enter the Body of your blog!"
                        class="bg-transparent border border-my_blue px-5 py-3 rounded-lg"
                        name="body"
                        required>
                    </textarea>
                        
                </span>
                
                <span class="flex flex-col gap-4">
                    <label>Author Name</label>
                    <input type="text" placeholder="Enter the name you want to use for your blog!"
                        class="bg-transparent border border-my_blue px-5 py-3 rounded-lg"
                        name="author"
                        required />
                </span>

                <!-- <span class="flex flex-col gap-4">
                    <label>State</label>
                    <select class="bg-transparent border border-my_blue px-5 py-3 rounded-lg" required
                    name="state">
                        <option>Draft</option>
                        <option>Published</option>
                    </select>
                </span> -->

                <span class="flex flex-col gap-4">
                    <label>Tags</label>
                    <input type="text" placeholder="Enter a tag!"
                        class="bg-transparent border border-my_blue px-5 py-3 rounded-lg" id="tag-input"
                        name="tags" />
                </span>

                <button type="submit" class="bg-my_blue text-white py-4 rounded-lg">Submit</button>
            </form>
        </main>
    </section>
</body>
</html>