<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="icon" type="image/png" href="./src/images/blog_logo.png">
    <link href="./src/styles/global.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&family=Sora:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="bg-bg_signup flex flex-col gap-10">
    <section class="h-fit flex flex-col w-full items-center justify-center p-5">
        <main class=" w-11/12 flex flex-col font-sora gap-14">
            <header class="flex items-center justify-between">
                <h1 class="font-playpen text-3xl md:text-5xl">Welcome Ellahhh</h1>
                <a href="/edit" class="bg-my_blue px-5 py-2 text-white rounded-lg">Write</a>
            </header>
            
            <h3 class="underline decoration-my_blue text-black text-xl">Blogs</h3>

            <section class="flex flex-col gap-4">
                <section class="border border-gray-400 flex flex-col gap-3 p-5 rounded-xl">
                    <span class="flex justify-between">
                        <h2 class="text-3xl">Title</h2>
                        <span class="flex items-center gap-4">
                            <p class="underline decoration-my_blue">Edit</p>
                            <p class="bg-my_blue text-white px-2 py-2 rounded-md">Delete</p>
                        </span>
                    </span>
                    <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error obcaecati esse adipisci ipsa temporibus dolor praesentium qui cum, tenetur perferendis nesciunt amet dignissimos porro saepe sunt sapiente assumenda ut?</p>
                    <span class="flex justify-between">
                        <p class="text-base text-my_blue font-semibold">By Author</p>
                        <p class="font-semibold text-gray-600">Published</p>
                    </span>
                </section>
            </section>
        </main>
    </section>

    <footer class="bg-gray-900 text-white py-4 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 BlogIfy. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>