<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="icon" type="image/png" href="./src/images/blog_logo.png">
    <link href="./src/styles/global.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&family=Sora:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="h-fit font-playpen">
        <main class="p-10 w-full flex gap-16  h-full justify-center items-center md:p-20">
            <img src="./src/images/blog_signup.svg"  class="hidden lg:block lg:w-1/2 h-fit"/>
            <form class="w-full flex flex-col gap-12 lg:w-1/2">
                <section class="flex flex-col gap-5">
                    <h1 class="text-2xl sm:text-4xl lg:text-5xl">Hello!
                        <b class="text-my_blue">Welcome</b> to
                        <b class="text-my_blue">BlogIfy</b>
                    </h1>
                    <p class="text-lg text-gray-600">Come home and tell your story!</p>
                </section>
                <section class="flex flex-col gap-10">
                    <span class="flex flex-col gap-3">
                        <label class="font-sora text-base text-gray-700">First Name</label>
                        <input type="text" placeholder="Enter your First Name" class="border border-gray-400 px-5 py-4 rounded-lg" required />
                    </span>
                    <span class="flex flex-col gap-3">
                        <label class="font-sora text-base text-gray-700">Last Name</label>
                        <input type="text" placeholder="Enter your Last Name" class="border border-gray-400 px-5 py-4 rounded-lg" required />
                    </span>
                    <span class="flex flex-col gap-3">
                        <label class="font-sora text-base text-gray-700">Email</label>
                        <input type="email" placeholder="Enter your Email" class="border border-gray-400 px-5 py-4 rounded-lg" required />
                    </span>
                    <span class="flex flex-col gap-3">
                        <label class="font-sora text-base text-gray-700">Password</label>
                        <input type="password" placeholder="Enter your Password" class="border border-gray-400 px-5 py-4 rounded-lg" required />
                    </span>
                </section>
                <button class="bg-my_blue text-white font-sora text-lg font-bold py-4 rounded-md hover:bg-light_blue">Sign Up</button>

                <p class="font-sora text-lg">Have an account? 
                    <a href="/login" class="font-semibold text-my_blue underline cursor-pointer">Login</a>
                </p>

            </form>
        </main>
    </section>
</body>
</html>